@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    min-height: 100vh;
    background-color:#F5F5F5;
    font-family: 'Lato', sans-serif;
}

/*CSS for the header content*/

.container-fluid {
    padding: 0em;
}

#header_background_img_container {
    display: flex;
    padding: 0em;
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-image: url("../img/3dprintedEngineDarkenned.png");
    background-position: bottom;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profile_photo {
    padding: 0em;
    height: 20vh;
    width: 20vh;
    background-image: url("../img/profile_photo.jfif");
    border-radius: 50%;
    margin-top: 15%;
    background-size: cover;
}

#logo {
    padding: 0em;
    height: 10vh;
    width: 60%;
    background-repeat: no-repeat;
    background-image: url(../img/MikeLogo.svg);
    background-size: contain;
    margin-top: 5%;
    margin-bottom: 5%;
}

#linkedin-btn {
  margin-bottom: 5%;
}

#contact-btn {
  margin-bottom: 5%;
}

/*CSS for the content area filled with projects*/

#content_area {
    background-repeat: no-repeat;
    height: 100%;
    padding: 5%; /*top, right, bottom, left*/
}

#content_area * { /*Apply to all children of content-area*/
    padding-right: 0%;
    padding-left: 0%;
}

#my_projects_h1 {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

#project_list_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project_tile {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 10%;
    width: 250px;
    height: 150px;
    box-shadow: 3px 3px 10px gray;
    background-size: cover;
  }
  
  .project_tile_title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 21%;
    padding-bottom: 21%;
    margin-bottom: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: larger;

    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s ease-out, color .2s ease-out;
  }
  
  .project_tile_title:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  #top-of-page-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 18px;
    right: 18px;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  #top-of-page-btn svg {
    height: 30px;
    width: 30px;
  }

  /* Media Queries */